<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ story.name }} - Storyblok</title>

  <link rel="stylesheet" type="text/css" href="/public/styles.css">
</head>
<body>
  {{{body}}}

  <script type="text/javascript" src="//app.storyblok.com/f/storyblok-latest.js"></script>
  <script type="text/javascript">
    storyblok.init({accessToken: 'nmhc6FGnwUHwO6XMR6K2Mwtt'})

    // On the change event refresh the window
    storyblok.on('change', function() {
      window.location.reload(true)
    })

    // Listen on the published event
    storyblok.on('published', function() {
      window.location.reload(true)
    })

    var el = document.querySelector('#news')
    if (el) {
      storyblok.getAll({starts_with: 'news', version: 'draft'}, function(data) {
        for (var i = 0; i < data.stories.length; i++) {
          el.innerHTML += '<a href="/' + data.stories[i].full_slug + '?_storyblok=1">' + data.stories[i].content.title + '</a><br>'
        }
      })
    }
  </script>
</body>
</html>
